<div id="authval-menu">
    {{ Session::get('username') }} {{ HTML::link('auth', 'Lobby') }} {{ HTML::link('auth/logout', 'Logout') }}
</div>
<hr class="block" />
<div id="authval-content">

    {{ Form::open('auth/settings') }}
    {{ Form::label('username', 'Username') }}:
    {{ Form::text('username', Session::get('username')) }}
    {{ Form::submit('Save') }}
    {{ Form::close() }}

    <hr class="block" />

    {{ Form::open('auth/settings') }}
    {{ Form::label('password', 'New password') }}:
    {{ Form::password('password') }}
    {{ Form::label('again', 'Repead password') }}:
    {{ Form::password('password_confirmation') }}
    {{ Form::submit('Save') }}
    {{ Form::close() }}

</div>
